<!DOCTYPE html> 
<html> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/site.js" type="text/javascript"></script>
  <script src="js/uniform/jquery.uniform.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/site.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="js/uniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
  <title>OpenShape</title> 
</head> 
<body> 
  <div id='wrap'>
    You'll need to include a file with your request.
  </div>
</body>
